@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Footer {
  margin-top: 200px;
  position: relative;
  padding: 12px;
  font-size: 10px;
  color: $font-color-blue;
  text-align: center;
  letter-spacing: 0.1em;
  font-family: "Marcellus";

  // スマホ以下
  @include respondToSm {
    margin-top: 60px;
  }
}
