@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.About {
  position: relative;
  z-index: 20;
  padding: 28% 48px;
  width: 100%;
  font-family: "Shippori Mincho";
  color: $font-color-blue;
  text-align: center;

  // スマホ以下
  @include respondToSm {
    padding: 28% 20px;
  }

  .About__text {
    font-size: 14px;
    line-height: 2.6em;
    letter-spacing: 0.16em;

    // スマホ以下
    @include respondToSm {
      font-size: 11px;
    }
  }

  .About__textEnglish {
    margin-top: 56px;
    font-size: 11px;
    line-height: 2.2em;
    letter-spacing: 0.05em;

    @include respondToSm {
      font-size: 10px;
    }
  }
}
